<table class="table table-striped">
    <tr>
        <h1>{{  task.owner }} <small>{{ task.title }}</small></h1>
    </tr>
    <tr>
        <th>Owner</th>
        <th>Title</th>
        <th>Task</th>
        <th>Completed</th>
    </tr>
    <td><p class="form-control-static" editable="task.owner" field-type="text"></p></td>
    <td><p class="form-control-static" editable="task.title" field-type="text"></p></td>
    <td><p class="form-control-static" editable="task.task" field-type="text"></p></td>
    <td><p class="form-control-static" editable="task.completed" field-type="checkbox"></p></td>
</table>


