.login {
    height:100px;
    text-align: center;
    width:100%;
}

.login button {
    color: black;
    margin: 0 auto;   
}

.navbar {
    margin-bottom: 0;
}

.row img {
    width: 100%;
    height: 300px;
    padding-bottom: 20px;
}